@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans";
}

body {
  display: flex;
  justify-content: center;
  background-color: #F7FAFD;
  padding: 100px 0 100px 0;
}

.container {
  max-width: 730px;
  padding: 30px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 20px 60px 0 #4961A80D;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

section {
  display: flex;
  justify-content: space-between;
}

section button {
  all: unset;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  line-height: 100%;
  color: #5E6778;
}

section button:hover{
  color: #0A327B;
}

.not-counts {
  color: #1C202B;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 100%;
  display: flex;
  gap: 16px;
}

.not-counts span {
  background-color: #0A327B;
  font-size: 1rem;
  color: #ffffff;
  width: 32px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

@media screen and (max-width: 800px){
  .container{
    padding: 16px;
  }

  body{
    padding: 0;
  }

  .not-counts{
    font-size: 1.25rem;
  }


}